#ruler-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ruler-row {
  position: sticky;
  top: 0;
  display: flex;
  margin-top: 30px; // Abstand zur Toolbar
  justify-content: center;
  width: 100%;
}

.ruler-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px; // Abstand zwischen vertikalem Lineal und Dokument
}

.ruler {
  background-color: var(--bodyBackground);
  font-size: 10px;
  color: var(--rulerFontColor);
  border: 1px solid var(--rulerBorder);
  user-select: none;
  z-index: 10;
}

.ruler-horizontal {
  position: relative;
  overflow: visible;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 20px;
  display: flex;
  align-items: flex-end;
  width: 794px; // gleich wie document-a4
}

.ruler-vertical {
  position: relative;
  border-top: none;
  border-left: none;
  border-bottom: none;
  overflow: visible;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 1123px; // gleich wie document-a4
}

.ruler-tick {
  background-color: var(--rulerTick);
}

.ruler-tick-horizontal {
  width: 1px;
  margin-right: 6px;
  height: 5px;
}

.ruler-tick-vertical {
  height: 1px;
  margin-bottom: 6px;
  width: 5px;
}

.ruler-tick.major {
  background-color: var(--rulerMajorTickBackground);
}

.ruler-label {
  position: absolute;
  font-size: 9px;
  color: var(--rulerMajorTickFontColor);
}

.ruler-label-horizontal {
  top: 2px;
  left: -10px;
}

.ruler-label-vertical {
  left: 2px;
  top: -5px;
  transform: rotate(-90deg);
  transform-origin: left top;
}

.ruler-hover-indicator {
  position: absolute;
  background: var(--rulerHoverIndicatorBackground);
  color: var(--rulerHoverIndicatorFont);
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 3px;
  pointer-events: none;
  z-index: 20;
}

.ruler-marker {
  position: absolute;
  width: 1px;
  height: 150%;
  pointer-events: none;
  background: transparent;
  border-left: 2px solid var(--rulerMarker);
  z-index: 15;
}

.ruler-marker.vertical {
  width: 150%;
  height: 1px;
  border-left: none;
  border-top: 2px solid var(--rulerMarker);
}

.ruler-handle {
  position: absolute;
  background: var(--rulerHandleBackground);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--rulerHandleFont);
  font-size: 11.5px;
  padding: 1px 4px;
  border-radius: 3px;
  cursor: grab;
  z-index: 16;
  user-select: none;
}

.ruler-handle.dragging {
  cursor: grabbing;
}

.ruler-handle.horizontal {
  top: -20px;
  transform: translateX(-50%);
}

.ruler-handle.vertical {
  left: -50px;
  transform: translateY(-50%);
}

.ruler-hover-preview {
  position: absolute;
  background: var(--rulerHoverPreviewBackground);
  z-index: 20;
  pointer-events: none;
  display: none;
  box-shadow: 0 0 2px 1px var(--rulerHoverPreviewBackgroundShadow);
}

.ruler-major-label {
  font-size: 10px;
  color: var(--rulerMajorTickFontColor);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/*   font-weight: normal;*/
  font-weight: normal;
}