#editor-container {
    flex: 1;
    padding: 10px;
    overflow: auto;
    height: 100vh;
  }
  #distance-bottom{
    height: 25%;
  }
  #backBtn {
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
    background: var(--backButtonBackground);
    border: 1px solid var(--backButtonBorder);
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background: var(--backButtonHoverBackground);
    }
  }
  .document-a4 {
    background: var(--editorBackground);
    box-shadow: 0 0 8px var(--editorDocumentBorderShadow); //Vorsicht 8 Pixel box-shadow für Ruler hard coded in ruler.ts
    margin: 0 auto;
    width: 794px; // DIN A4 width
    height: 1123px; // DIN A4 height
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .editor-padding {
    flex: 1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
/*     padding-left: 25mm; // Standardseitenrand
    padding-top: 25mm; // Standardseitenrand
    padding-right: 25mm; // Standardseitenrand
    padding-bottom: 20mm; // Standardseitenrand  */
    overflow-y: auto;
  } 
  .active-doc {
    background-color: var(--activeDocBackground);
    font-weight: bold;
  }

  .ProseMirror {
    border: none;        
    outline: none;       
    box-shadow: none;    
  }
  