@media print {
    body * {
      visibility: hidden;
    }
  
    #document, #document * {
      visibility: visible;
    }
  
    #document {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  